

body
{
    font-size: 12px;
}

h1
{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2
{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
}

h3
{
    font-size: 17px;
    font-weight: bold;
}

.blue
{
    color: #5982BD;
}

.grey
{
    color: #727176;
}

.orange
{
    color: #ffba00;
}

.white
{
    color: #ffffff;
}

.white a, .white a:hover
{
    color: #ffffff;
}

a
{
}

.container
{
    max-width: 500px;
}

.bullet
{
    margin-right: 5px;
}

.clear-highlighted-box
{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    padding: 15px 15px 5px;
    color: #ffffff;
}

.bordered-highlighted-box
{
    background-color: #ffffff;
    border-radius: 15px;
    border: 6px;
    border-style: solid;
    border-color: #FFE1A6;
}

.checklist-bullet
{
    list-style-image: url('img/bullet.jpg');
}

