

@import url(https://fonts.googleapis.com/css?family=Satisfy);

body
{
    font-size: 12px;
}

h1
{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2
{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 10px;
}

h3
{
    font-size: 17px;
    font-weight: bold;
}

.cursive-text
{
    font-family: 'Satisfy', cursive;
    font-size: 16px;
}

.blue
{
    color: #5982BD;
}

.cyan
{
    color: #139ae5;
}

.grey
{
    color: #727176;
}

.orange
{
    color: #ffba00;
}

.dark-orange
{
    color: #C2A760;
}

.aquamarine
{
    color: #04a089;
}

.violet
{
    color: #8e0063;
}

.white
{
    color: #ffffff;
}

.white a, .white a:hover
{
    color: #ffffff;
}

a
{
}

.container
{
    max-width: 500px;
}

.bullet-spacing
{
    margin-right: 5px;
}

.checklist-bullet-orange
{
    list-style-image: url('img/bullet.jpg');
}

.checklist-bullet-cyan
{
    list-style-image: url('img/bullet-cyan.jpg');
    padding-left: 18px;
}

.clear-highlighted-box
{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    padding: 15px 15px 5px;
    color: #ffffff;
}

.aquamarine-highlighted-box
{
    background-color: #eff5f4;
    border-radius: 7px;
    padding: 15px 15px 5px;
}

.blue-highlighted-box
{
    background-color: #edf4f3;
    border-radius: 7px;
    padding: 15px 15px 5px;
}

.darkorange-highlighted-box
{
    background-color: #F5EEE1;
    border-radius: 7px;
    padding: 15px 15px 5px;
}

.bordered-highlighted-box
{
    background-color: #ffffff;
    border-radius: 15px;
    border: 6px;
    border-style: solid;
    border-color: #FFE1A6;
}

@media (min-width:992px)
{
    .leveling-padding
    {
        padding-top: 20px;
    }
}

.spacer
{
    margin-top: 15px;
}

